@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter";
    color: #fff;
}
html, body
{
    height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, #0E1643 0%, 
  rgb(13, 35, 145) 142.36%) !important;
}

input{
    height: 40px;   
    outline: none;
    border-radius: 5px;
    border: 1px solid #8A8A8A;
    background: #F5F5F5;
    margin-bottom: 20px;
    padding-left: 14px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
input[type=checkbox]{
    height: 15px;
    margin-bottom: 0 !important;
}
::placeholder
{
    color: #8F8F8F;
}
button{}
button:hover{opacity: 0.8;}

h1
{
    margin-bottom: 20px;
}

/* SEMANTICA */

header
{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 55px;
    background-color: #1F1E1E;
}
nav
{
    position: fixed;
    width: 15%;
    height: 100vh;
    margin-top: 55px;
    background-color: #1F1E1E;
}
main
{
    width: 85%;
    margin-left: 15%;
    margin-top: 0px;
    padding: 65px 15px 15px 15px;
}
footer
{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #1F1E1E;
    left: 0;
    bottom: 0;
}